


@media (max-width: 1200px) {
        body{
            overflow-x: hidden;
        }

        ul {
            display: flex;
            margin-left: 0px;
            margin-right: 500px;
            margin-top: 50px;
        }
         ul li{
            list-style: none;
            margin-left: 60px;
            width: 120px;
            
          
        }
       
        iframe {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 7px;
            grid-row-gap: 4px;
            }
            
            .div1 { grid-area: 1 / 1 / 2 / 2; }
            .div2 { grid-area: 2 / 1 / 3 / 2; }
            .div3 { grid-area: 3 / 1 / 4 / 2; }
            .div4 { grid-area: 4 / 1 / 5 / 2; }
            .div5 { grid-area: 5 / 1 / 6 / 2; }
    
            .hero {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 7px;
                grid-row-gap: 4px;
                }
                
                .left { grid-area: 1 / 1 / 2 / 2; }
                .right { grid-area: 2 / 1 / 3 / 2; }
    
    
                .container {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 7px;
                    grid-row-gap: 4px;
                    }
                    
                    .left { grid-area: 1 / 1 / 2 / 2; }
                    .right { grid-area: 2 / 1 / 3 / 2; }
    
    
    
                    .project {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: repeat(3, 1fr);
                        grid-column-gap: 4px;
                        grid-row-gap: 30px;
                        margin: 0;
                        }
                        
                        .card1 { grid-area: 1 / 1 / 2 / 2; }
                        .card2 { grid-area: 2 / 1 / 3 / 2; }
                        .card3 { grid-area: 3 / 1 / 4 / 2; }
    
                        .project-head{
                            margin: 0;
                        }
                        header{
                            position: fixed;
                            width: 100%;
                            height: 6rem;
                        background-color: var(--text);
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 79% 85%, 0 100%);
                        }
                        .services{
                            
                           background: black;
                           padding-bottom: 2rem;
                           padding-top: 2rem;
                           align-items: center;
             
                             }
                             section.services .card-grid .card{
                                background: var(--white);
                                align-items: center;
                                justify-content: center;
                                 text-align: center;
                                transition: all .2s ease;
                                margin-bottom:1rem;
                                width: 300px;
                                
                                }
                                .navbar .iconssmall {
                                  
                                    margin-left: 16rem;
                                    
                                    
                                }
    }


   
    @media (max-width: 667px){
        body{
            width: 100%;
            overflow-x: hidden;
            text-align: center;
        }
        
        .form-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 7px;
            grid-row-gap: 4px;
            }
            
            .div1 { grid-area: 1 / 1 / 2 / 2; }
            .div2 { grid-area: 2 / 1 / 3 / 2; }
            .div3 { grid-area: 3 / 1 / 4 / 2; }
            .div4 { grid-area: 4 / 1 / 5 / 2; }
            .div5 { grid-area: 5 / 1 / 6 / 2; }
    
            .hero {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 7px;
                grid-row-gap: 4px;
                }
                
                .left { grid-area: 1 / 1 / 2 / 2; }
                .right { grid-area: 2 / 1 / 3 / 2; }
    
    
                .container {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 7px;
                    grid-row-gap: 4px;
                    
                    }
                    
                    .left { grid-area: 1 / 1 / 2 / 2; }
                    .right { grid-area: 2 / 1 / 3 / 2; }
    
    
    
                    .project {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: repeat(3, 1fr);
                        grid-column-gap: 4px;
                        grid-row-gap: 30px;
                       
                        }
                        
                        .card1 { grid-area: 1 / 1 / 2 / 2; }
                        .card2 { grid-area: 2 / 1 / 3 / 2; }
                        .card3 { grid-area: 3 / 1 / 4 / 2; }
    
                        .project-head{
                            margin: 0;
                        }
                        header{
                            position: fixed;
                            width: 100%;
                            height: 6rem;
                        background-color: var(--text);
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 79% 85%, 0 100%);
                        }
                        .services{
                           padding: 10rem;
                           background: rgb(17, 17, 17);
                           padding-bottom: 2rem;
                           padding-top: 2rem;
                           padding-left: 2rem;
                           padding-right: 1rem;
                           margin-left: 1rem;
                             }
                             section.services .card-grid .card{
                                background: var(--white);
                                padding: 3rem 2rem;
                                text-align: center;
                                transition: all .2s ease;
                                margin-bottom: 8px
                                }
        .navbar .list {
            display: none;
        }
        .navbar .toggle-btn{
            display: block;
            margin-bottom: 10px;
            color: aliceblue;
    
        }
        .navbar .iconssmall {
            text-decoration: none;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            font-size:3rem;
            margin-left: 4rem;
            position: relative;
            
            color: #f9fcf7;
        }
        .navbar .iconssmall i{
            margin-left: 1rem;


        }
        .dropdown-link{
            display: none;
            background-color: hsl(0 0% 100% / 0.1);
            backdrop-filter:  blur(25px);
            z-index: 999;
        }
        .search{
            display: flex;
            height: 40px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
        .projects .container{
            align-items: center;
            justify-content: center;
            width: 200px;
            padding-left: 4rem;

            
        }
        section.projects .card-grid .card{
            background: var(--white);
            width: 300px;
            transition: all .2s ease;
            }
            .projects{
                padding: 2rem;
                background:  var(--bglight)
                }
                .contact {
                    padding-left: 0;
                    align-items: center;
                    justify-content: center;
                    

                }
    }    

