@import 'utilities.css';
:root{
--primary: #6dc041;
--bgDark:#f9fcf7;
--white: rgb(250, 250, 250);
--secondary: #abde90;
--bgLight:#8cd764;
--text: #090f06;
}

body{
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    
    }
    header{
        display: flex;
        align-items: end;
        justify-content: space-between;
        position: relative;
        font-size: bold;
        padding: 30px 0 30px;
        background-color: #090f06;
       
    }
    .navbar{
        display: flex;
        max-width: 1550px;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 100%;
        font-size: bold;
        margin-top: 15px;
        font-size: 10px;
        background-color: #090f06;
    }
    .navbar h1{
        color: white;
        font-size: 4rem;
        margin-top: 6rem;
    
    }
    .logo-icon{
    
        display: flex;
        align-items: center;
        padding-left: 23px;
        
    }
    .logo-icon img {
        height: 80px;
    }
     ul {
        display: flex;
        margin-left: 0px;
        margin-right: 500px;
        margin-top: 50px;
    }
     ul li{
        list-style: none;
        margin-left: 60px;
        
      
    }
     .navbar ul li a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: bold;
        font-size: large;
        
        
        
    }
     ul li a:hover{
        text-decoration: underline;
        transition: all 2s ease-in-out;
    }
    .navbar .iconssmall {
        text-decoration: none;
        list-style: none;
        display: none;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        font-size:4rem;
        margin-right: 1px;
        margin-top: 4rem;
        color: #f9fcf7;
    }
    ul li i {
        color: #f9fcf7;
    }
    
    
    
    
    
    
    
    
    
    


    body{
        font-family: 'Poppins', sans-serif;
        }
        .container{
        max-width: 1152px;
        padding: 0 15px;
        margin: 0 auto;
        }
        .hero{
        padding-top: 1rem;
        padding-bottom: 1rem;
        }
        .hero .left img{
        width: 400px;
        }
        .hero .right {
        color: var(--text);
        margin-top: 2rem;
        }
        .hero .right h6{
        font-size: 1.6rem;
        color: black;
        margin-bottom: 0.5rem;
        }
        .hero .right h1{
        font-size: 3.5rem;
        font-weight: 100;
        line-height: 1.2;
        margin-bottom: 2rem;
        color: var(--primary);
        }
        .hero .right h1 span{
        color: var(--primary);
        }
        .hero .right p{
        line-height: 1.9;
        margin-bottom: 2e3irem;
        color: black;
        }


        .flex{
            display: flex;
            }
            .items-centre{
            align-items: center;
            }
            .justify-between{
            justify-content: space-between;
            }
            .justify-center{
            justify-content: center;
            }
            .justify-right{
            justify-content: right;
            margin-top: 0;
            padding: 0;
            }
            .btn{
            padding: 0.6rem 2rem;
            font-size: 1rem;
            font-weight: 600;
            border: 2px solid transparent;
            outline: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: all .2s ease;
            }
            .btn-primary{
            background-color: var(--primary);
            color: var(--white);
            margin-top: -15rem;
            }
            .btn-primary:hover{
            background: transparent;
            border-color: var(--primary);
            color: var(--white);
            }
            .flex-1{
            flex: 1;
            }
            .btn-secondary{
            background: transparent;
            color: var(--primary);
            border-color: var(--primary);
            }
            .btn-secondary:hover{
            background: var(--primary);
            color: var(--white);
            }



            .about{
                padding: 2rem;
                }
                section.about h1{
                margin-bottom: 1rem;
                font-size: 1.6rem;
                font-weight: 600;
                }
                section.about h1 span{
                color: var(--primary);
                }
                section.about h3{
                font-size: 1rem;
                margin-bottom: 1rem;
                font-weight: 600;
                }
                section.about p{
                font-family: 'Lato', sans-serif;
                color: var(--text);
                line-height: 1.9rem;
                margin-bottom: 2rem;
                }
                section.about .socials{
                display: grid;
                }
                section.about .socials a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                margin-bottom: 0.8rem;
                border-radius: 50%;
                }
                section.about .socials a:hover{
                background: var(--primary);
                }




                .services{
                   padding: 4rem;
                  background: rgb(17, 17, 17)
                    }
                    .services-head{
                    color: rgb(10, 9, 9);
                    text-align: center;
                    margin-bottom: 0.5rem;
                    line-height: 0.5rem;
                    color: var(--primary);
                    }
                    .services-head + p{
                    color: var(--white);
                    font-family: 'Lato', sans-serif;
                    margin-bottom: 0.5rem;
                    text-align: center;
                    margin-bottom: 1rem;
                    font-weight: 400;
                    }
                    .card i{
                    width: 50px;
                    margin-bottom: 0.5rem;
                    
                    }
                    section.services .card-grid{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    column-gap: 2rem;
                    }
                    section.services .card-grid .card{
                    background: var(--white);
                    padding: 3rem 2rem;
                    text-align: center;
                    transition: all .2s ease;
                    }
                    section.services .card-grid .card img{
                    position: absolute;
                    top: -1.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                    color: var();
                    }
                    section.services .card-grid .card h2{
                    font-weight: 600;
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                    }
                    section.services .card-grid .card p{
                    font-family: 'Lato', sans-serif;
                    color: var(--text);
                    line-height: 1.6;
                    }
                    section.services .card-grid .card:hover{
                    background: var(--primary);
                    }
                    section.services .card-grid .card:hover h2{
                    color: var(--white);
                    }
                    section.services .card-grid .card:hover p{
                    color: var(--white);
                    }


                    .projects{
                        padding: 6rem;
                        background:  var(--bglight)
                        }
                        .projects-head{
                        color: rgb(10, 9, 9);
                        text-align: center;
                        margin-bottom: 2rem;
                        line-height: 0.5rem;
                        color: var(--primary);
                        }
                        .projects-head + p{
                        color: var(--bgdark);
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        margin-bottom: 6rem;
                        font-weight: 400;
                        }
                        section.projects .card-grid{
                        display: grid;
                        grid-template-columns: repeat(3,1fr);
                        column-gap: 2rem;
                        }
                        section.projects .card-grid .card{
                        background: var(--white);
                        padding: 3rem 2rem;
                        text-align: center;
                        transition: all .2s ease;
                        }
                        section.projects .card-grid .card img{
                        
                        }
                        section.projects .card-grid .card h2{
                        font-weight: 600;
                        font-size: 1.2rem;
                        margin-bottom: 0.5rem;
                        }
                        section.projects .card-grid .card p{
                        font-family: 'Lato', sans-serif;
                        color: var(--seconday);
                        line-height: 1.6;
                        }
                        section.projects .card-grid .card:hover{
                        background: var(--primary);
                        }
                        section.projects .card-grid .card:hover h2{
                        color: var(--white);
                        }
                        section.projects .card-grid .card:hover p{
                        color: var(--white);
                        }




                        .secc{
                            padding: 6rem;
                            background-color:var(--bgDark);
                        }


                        .contact{
                            background-color:var(--bgDark);
                        }

                        .contact-head{
                            color: var(--text);
                            text-align: center;
                            margin-bottom: 0.5rem;
                            line-height: 0.5rem;
                            color: var(--primary);
                            }

                            section .form-grid{
                                display: grid;
                                grid-template-columns: repeat(2,2fr);
                                column-gap: 2rem;
                                row-gap: 4rem;
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                }

                                section .form-grid input{
                                    border: none;
                                    height: 3rem;
                                    width: 20rem;
                                    align-items: center;
                                justify-content: center;
                                background-color: var(--bgDark);
                                color: var(--text);
                                font-size: 1.5rem;

                                }
                                section input::placeholder{
                                    font-size: 1rem;
                                    color: var(--text);
                                    background-color: var(--bgDark);
                                }
                                 input:focus{
                                    outline: none;
                                }


                                footer{
                                    background-color: var(--bgDark);
                                    color: var(--text);
                                    text-align: center;
                                }